* {
    box-sizing: border-box;
  }

  .body {
    margin: 0 auto;
  }

  .container {
    margin: 0 auto;
    max-width: 1440px;
  }

  html {
    scroll-behavior: smooth;
  }

  .header {
    background-color: #0c0c0e;
  }

  h1, ul, h2 {
    margin: 0;
  }

  .nav_link {
    color: #fff;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    text-decoration: none;
    cursor: pointer;
    list-style-type: none;
    white-space: nowrap;
  }

  .nav_item {
    list-style-type: none;
  }

  li {
    list-style-type: none;
  }

  .nav_link:hover {
    text-decoration: underline;
  }

  .nav-list {
    display: inline-flex;
    align-items: flex-start;
    gap: 30px;
    margin-left: 416px;
  }

  .library_text {
    color: #fff;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
    margin-left: 20px;
    white-space: nowrap;
  }

  .wrapper{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
  }

  .birbale {
    display: flex;
  }

  .icon_profile {
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 20px;
  }

  .welcome {
    height: 600px;
    flex-shrink: 0;
    background: linear-gradient(
        180deg,
        #0c0c0e 0,
        #0c0c0e 0.01%,
        rgba(18, 18, 21, 0.1) 100%
      ),
      url(assets/png/welcome.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .overlay {
    width: 1440px;
    height: 300px;
    flex-shrink: 0;
    background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%);
    position: relative;
  }

  .welcome-bg {
    display: flex;
    width: 600px;
    height: 220px;
    padding: 35px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: #0c0c0e;
    position: absolute;
    top: 300px;
    margin-top: 10px;
  }

  .welcome-text {
    width: 520px;
    flex-shrink: 0;
    color: #fff;
    text-align: center;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 125% */
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-right: 4px;
  }

  .about {
    text-align: center;
  }

  .section-title {
    margin-top: 20px;
    display: inline-block;
    height: 61px;
    flex-shrink: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

  .section_text {
    color: #0C0C0E;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 100% */
    letter-spacing: 2px;
    text-transform: capitalize;
    position: relative;
    text-align: center;
  }

  .line {
    width: 50px;
    height: 1px;
    flex-shrink: 0;
    background: #0C0C0E;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .about_description {
    /* width: 1440px; */
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    margin-top: 40px;
  }

  .about_images {
    display: flex;
    justify-content: space-between;
    margin: 0px 20px;
  }

  .ab-image {
    width: 450px;
    height: 560px;
    flex-shrink: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background: lightgray 50%;
  }


  .carousel_pagination {
    flex-shrink: 0;
  }

  .pag_button {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
    margin: 40px 3px;
    background-color: black;
    border: 0;
    padding: 5px 5px;
  }

  .pag_button:nth-child(n + 4) {
    display: none;
  }

  .button1 {
    background-color: #BB945F;
  }

  .favorites {
    text-align: center;
  }

  .favorites_text {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 38px 20px;
    text-align: start;
  }

  .favorite_variants {
    text-align: start;
    margin: 38px 22px;
  }

  .season {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 89px;
    cursor: pointer;
  }

  .seasons {
    color: black;
  }

  input[type="radio"] {
    transform: scale(1.4);
    cursor: pointer;
  }

  input[type="radio"] {
    margin-right: 20px;
    margin-top: 9px;
    padding: 5px;
    accent-color: black;
  }

  input[type="radio"]:checked + label {
    font-weight: 700;
  }

  input[type="radio"]{
    border-color: black;
  }

  .bg_description {
    width: 550px;
    height: 555px;
    flex-shrink: 0;
    border: 1px solid #000;
    position: relative;
    margin-top: 2px;
    margin-bottom: 38px;
    margin-left: 0px;
  }

  .books_container {
    margin-right: 60px;
    padding-left: 20px;
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .book {
    position: absolute;
    width: 200px;
    height: 300px;
    flex-shrink: 0;
    bottom: -1px;
    right: -41px;
  }

  .staff_picks {
    position: relative;
    text-align: start;
    color: #000;
    font-family: Forum;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
    padding-left: 20px;
    padding-top: 13px;
  }

  .staff_line {
    height: 1px;
    width: 60px;
    background-color: #BB945F;
    position: absolute;
    left: 20px;
  }

  .book_title {
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 266.667% */
    letter-spacing: 2px;
    text-transform: uppercase;
    position: absolute;
    top:59px;
    left: 20px;

  }

  .book_author {
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    position: absolute;
    left: 21px;
    top: 99px;
  }

  .book_description {
    width: 355px;
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 266.667% */
    letter-spacing: 2px;
    text-transform: capitalize;
    position: absolute;
    text-align: start;
    left: 20px;
    top: 160px;
    text-align: start;
  }

  .buy_btn {
    color: #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    width: 75px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    background-color: #ffffff;
    position: absolute;
    left: 20px;
    bottom: 14px
  }

  .buy_btn:hover {
    transition-duration: 1.5s;
    background-color: #BB945F;
    border: none;
    cursor: pointer;
  }

  .disabled_button{
    border: 1px solid #BB945F;
    color: #BB945F;
    pointer-events: none;
  }

  .disabled_button2 {
    display: none;
  }

  .coffee_shop {
    text-align: center;
    height: 841px;
    margin-top: 3px;
  }

  .coffee_description {
    width: 1400px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    margin-left: 20px;
    margin-top: 40px;
  }

  .shop_container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }

  .shop_drinks {
    position: relative;
    width: 500px;
    height: 520px;
  }

  .drinks_text {
    color: #BB945F;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 100% */
    letter-spacing: 2px;
    text-transform: capitalize;
    position: absolute;
    top: -40px;
    left: 20px;
  }

  .title_and_price {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
    width: 215px;
    text-align: start;
  }

  .price {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
    position: absolute;
    right: -53px;
  }

  .line-2 {
    width: 100px;
    height: 1px;
    background: #BB945F;
    margin-top: 41px;
    margin-right: 31px;
  }

  .list {
    list-style-type: none;
    display: flex;
    gap: 43px;
  }

  .drinks {
    position: absolute;
    left: -20px;
    top: 60px;
    display: flex;
    flex-direction: column;
  }

  .shop_cakes {
    width: 500px;
    height: 520px;
    position: relative;
  }

  .cakes_text {
    color: #BB945F;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 100% */
    letter-spacing: 2px;
    text-transform: capitalize;
    position: absolute;
    top: -40px;
    right: 22px;
  }

  .cakes {
    position: absolute;
    right: 109px;
    top: 59px;
    display: flex;
    flex-direction: column;
  }

  .list-2 {
    list-style-type: none;
    display: flex;
    gap: 61px;
  }

  .cakes_and_price {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
    width: 215px;
    text-align: end;
  }

  .line-2_cake {
    width: 100px;
    height: 1px;
    background: #BB945F;
    margin-top: 41px;
    margin-right: 0px;
  }

  .price_cake {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
    position: absolute;
    right: -93px;
  }

  .contacts {
    text-align: center;
  }

  .contacts_info {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    align-items: flex-start;
    gap: 201px;
    margin-top: 40px;
    margin-bottom: 38px;
  }

  .map {
    width: 696px;
    height: 414px;
  }

  .numbers {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
    text-align: start;
    white-space: nowrap;
    text-decoration: none;
  }

  .names {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 200% */
    letter-spacing: 2.4px;
    text-transform: capitalize;
    text-align: start;
    margin-bottom: 40px;
  }

  .strong {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2.4px;
    text-transform: capitalize;
  }

  .staff {
    padding-top: 19px;
  }

  .director {
    text-decoration: none;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
    display: flex;
    margin-top: -19px;
  }

  .library_card {
    text-align: center;
  }

  .library_container {
    display: flex;
    justify-content: space-between;
  }

  .find_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    padding-top: 9px;
  }

  .find_card_text {
    color: #000;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
  }

  .white_bg {
    width: 600px;
    height: 386px;
    flex-shrink: 0;
    border: 3px solid #BB945F;
    background: #FFF;
    padding-top: 17px;
    padding-left: 18px;
  }

  .gold_bg {
    width: 560px;
    height: 272px;
    flex-shrink: 0;
    background: #BB945F;
    display: flex;
    flex-direction: column;
    text-align: start;
    padding-left: 20px;
  }

  .check_btn {
    color: #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    cursor: pointer;
    display: inline-flex;
    padding: 10px 40px;
    margin-right: 19px;
    margin-top: 19px;
    align-items: flex-end;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
  }


  .card_input {
    border: 0px;
    width: 520px;
    height: 66px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    margin-bottom: 26px;
    color: #000;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 166.667% */
    letter-spacing: 0.6px;
  }

  .card_input::placeholder {
    color: #8E8E8E;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 166.667% */
    letter-spacing: 0.6px;
    padding-left: 15px;
  }

  .card_text {
    color: #000;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 166.667% */
    letter-spacing: 0.6px;
    text-align: start;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .check_btn:hover {
    background-color: #BB945F;
    border: none;
    cursor: pointer;
    transition: 1.5s;
  }

  .reader_card {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding-right: 20px;
  }

  .reader_card_text {
    color: #000;
    text-align: center;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
    padding-top: 10px;
  }

  .reader_card_description {
    color: #000;
    text-align: right;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 0.4px;
    width: 456px;
    margin-top: 2px;
  }

  .reader_buttons {
    padding-top: 16px;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .sign_btn {
    display: flex;
    width: 75px;
    height: 30px;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    color: #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    cursor: pointer;
  }

  .sign_btn:hover {
    transition: 1.5s;
    background-color: #BB945F;
    border: none;
    cursor: pointer;
  }

  .footer {
    margin-top: 41px;
    background: #0C0C0E;
    height: 250px;
  }

  .footer_container {
    display: flex;
    justify-content: space-between;
  }

  .left_footer {
    flex-direction: column;
    padding-top: 20px;
  }


  .social_links {
    padding-top: 20px;
    margin-left: -20px;
  }

  .link {
    display: inline;
    list-style-type: none;
    margin-right: 12px;
  }

  .street {
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    width: 229px;
    font-weight: 400;
    line-height: 20px; /* 133.333% */
    text-decoration: none;
    flex-shrink: 0;
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
  }

  .right_footer {
    flex-direction: column;
    padding-right: 20px;
    padding-top: 2px;
  }

  .work_time {
    color: #FFF;
    text-align: right;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 133.333% */
  }

  .line-3 {
    width: 1400px;
    height: 1px;
    background: #FFF;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .bottom_footer {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    gap: 0px;
  }

  .bottom_text {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 100% */
    letter-spacing: 2px;
    padding-right: 40px;
    text-decoration: none;
  }

  .rs_link {
    padding-left: 55px;
  }

  .test {
    display: none;
  }

  .arrow_1, .arrow_2 {
    display: none;
  }

  @media (max-width: 1024px) {

    .container {
      max-width: 1024px;
    }

    .nav-list {
     display: none;
     padding: 100px 107px;
     animation: burgerAnimation 1s;
    }

    .nav-item {
      margin-bottom: 30px;
    }

    .overlay {
     display: none;
    }

    .library_text {
      margin-left: 2.5%;
    }

    .sayan {
      display: flex;
    }

    .wrapper {
      display: flex;
      justify-content: space-between;
    }

    .icon_profile {
      margin-bottom: 11px;
      margin-right: 40px;
      margin-left: 0px;
      z-index: 2;
      position: relative;
    }

    .burger {
     width: 45px;
     height: 20px;
     /* flex-shrink: 0; */
     display: flex;
     align-items: center;
     /* flex-direction: column; */
     /* gap: 8.7px; */
     margin-right: 20px;
     margin-top: 13px;
     z-index: 2;
     position: relative;
     cursor: pointer;
     animation: burgerAnimation 1s;
   }

   .burger span {
    /* border: 1px solid #ffffff; */
    height: 2px;
    width: 45px;
    transform: scale(1);
    background-color: #ffffff;
  }

  .burger::before, .burger::after {
    content: '';
    position: absolute;
    height: 10px;
    width: 45px;
    background-color:#ffffff;
    transition: all 0.5s ease 0s;
  }

  .burger::before {
    top: 0;
    height: 1.5px;
  }

  .burger::after {
    bottom: 0;
    height: 1.5px;
  }

  .burger.active span {
    transform: scale(0);
  }

  .burger.active::before {
    top: 50%;
    transform: rotate(-45deg);
    translate: (0, -50%);
  }

  .burger.active::after {
    bottom: 40%;
    transform: rotate(45deg);
    translate: (0, 50%);
  }

   .burger-items {
    display: none;
    position: absolute;
   }

   .burger_menu {
    position: relative;
    z-index: 2;
   }

   .nav-list.show-nav-list {
    display: block;
    background-color: #000;
    width: 332px;
    height: 570px;
    text-align: center;
    top: 0;
    right: 0;
    position: absolute;
    z-index: 2;
  }

   .favorite_variants {
     width: 768px;
     white-space: nowrap;
   }

   .disabled_button {
     display: none;
   }

   .bg_description {
     margin-left: 69px;
   }

   .disabled_button2 {
     display: inline-block;
   }

   .coffee_shop {
     margin-top: 2px;
   }

   .coffee_description {
     width: 728px;
     margin-left: 19px;
     letter-spacing: 1.95px;
   }

   .welcome {
    background: linear-gradient(
        180deg,
        #0c0c0e 0,
        #0c0c0e 0.01%,
        rgba(18, 18, 21, 0.1) 100%
      ),
      url(assets/png/Welcome\(tablet\).png);
   }

   .shop_container {
     flex-direction: column;
   }

   .cakes {
     margin-top: 40px;
     right: -160px;
   }

   .cakes_text {
     right: -247px;
     top: 0px;
   }

   .contacts {
     margin-top: 640px;
   }

   .contact_map {
     position: relative;
     right: 690px;
     top: 480px;
   }

   .library_card {
     margin-top: 516px;
   }

   .library_container {
     flex-direction: column;
   }

   .find_card {
     margin-left: -20px;
   }

   .reader_card {
     text-align: center;
     align-items: center;
   }

   .reader_card_text {
     margin-top: 13px;
     margin-left: 20px;
   }

   .reader_card_description {
     text-align: center;
     width: 600px;
     margin-left: 20px;
     margin-top: 10px;
   }

   .reader_buttons {
     margin-left: 20px;
     margin-top: 4px;
   }

   .rs_link {
     margin-right: 60px;
   }

   .about {
    display: flex;
   }

   .about_description {
    width: 728px;
   }

   .about_images {
    margin-left: 20px;
   }

   .tablet_about {
    display: flex;
  }

  .about_images {
    padding-left: 38px;
  }

  .arrow_1 {
    display: inline-block;
    margin-top: 40px;
    margin-left: 57px;
  }

  .arrow_2 {
    display: inline-block;
    margin-top: 40px;
    margin-left: 37px;
  }

  .ab_image:nth-child(n + 2) {
    display: none;
  }

  .pag_button {
    margin-top: 25px;
  }

  .pag_button:nth-child(n + 4) {
    display: inline-block;
  }

  .coffee_shop {
    display: flex;
  }

  .coffee_tablet {
    margin-left: -20px;
  }
 }

  @keyframes burgerAnimation {
  from {opacity: 0}
  to {opacity: 1}
 }

 @keyframes burger-close {
  from {opacity: 1}
  to {opacity: 0}
 }

 @media (max-width: 767px) {
  .about_description {
    width: 608px;
  }

  .about_images {
    margin-left: -10px;
  }

  .arrow_1 {
    margin-left: 40px;
  }

  .arrow_2 {
    margin-left: 10px;
  }

  .carousel_pagination {
    margin-left: 50px;
  }

  .books_container {
    margin-left: -50px;
  }

  .favorite_variants {
    display: flex;
    flex-wrap: wrap;
  }

  .season {
    margin-right: 20px;
  }

  .coffee_shop {
    display: flex;
  }

  .shop_cakes {
    margin-left: -130px;
  }

  .coffee_tablet {
    margin-left: -15px;
  }


  .coffee_shop {
    width: 640px;
  }

  .coffee_description {
    width: 640px;
  }

  .map {
    width: 640px;
    margin-left: -37px;
  }
}

  @media (min-width: 1025px) and (max-width: 1439px) {

    .burger-items {
      display: none;
    }

    .library_text {
      white-space: nowrap;
    }

    .nav_link {
      white-space: nowrap;
    }

    .wrapper {
      display: flex;
      justify-content: space-between;
    }

    .nav-list {
      margin-left: 0px;
    }

    .birbale {
      display: flex;
    }

    .overlay {
      display: none;
    }

    .favorite_variants {
      width: 768px;
      white-space: nowrap;
    }
 
    .disabled_button {
      display: none;
    }
 
    .bg_description {
      margin-left: 69px;
    }
 
    .disabled_button2 {
      display: inline-block;
    }
 
    .coffee_shop {
      margin-top: 2px;
    }
 
    .coffee_description {
      width: 728px;
      margin-left: 19px;
      letter-spacing: 1.95px;
    }

    .shop_container {
      flex-direction: column;
    }

    .cakes {
      margin-top: 40px;
      right: -160px;
    }

    .cakes_text {
      right: -247px;
      top: 0px;
    }

    .contacts {
      margin-top: 640px;
    }

    .contact_map {
      position: relative;
      right: 690px;
      top: 480px;
    }

    .library_card {
      margin-top: 516px;
    }

    .library_container {
      flex-direction: column;
    }

    .find_card {
      margin-left: -20px;
    }

    .reader_card {
      text-align: center;
      align-items: center;
    }

    .reader_card_text {
      margin-top: 13px;
      margin-left: 20px;
    }

    .reader_card_description {
      text-align: center;
      width: 600px;
      margin-left: 20px;
      margin-top: 10px;
    }

    .reader_buttons {
      margin-left: 20px;
      margin-top: 4px;
    }
 
    .rs_link {
      margin-right: 60px;
    }
 
    .about {
     display: flex;
    }
 
    .about_images {
     margin-left: 20px;
    }
 
    .tablet_about {
     display: flex;
     margin-left: 90px;
   }
 
   .about_images {
     padding-left: 38px;
   }
 
   .arrow_1 {
     display: inline-block;
     margin-top: 40px;
     margin-left: 57px;
   }
 
   .arrow_2 {
     display: inline-block;
     margin-top: 40px;
     margin-left: 37px;
   }
 
   .ab_image:nth-child(n + 2) {
     display: none;
   }
 
   .pag_button {
     margin-top: 25px;
   }
 
   .pag_button:nth-child(n + 4) {
     display: inline-block;
   }
 
   .coffee_shop {
     display: flex;
   }
 
   .coffee_tablet {
     margin-left: -20px;
   }

   .contact_map {
    display: flex;
    margin-left: 150px;
   }
  }
